.addDepositForm input, .addDepositForm select {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
.addDepositForm fieldset {
  border: 0;
}
.depOverflow {
  overflow: hidden;
}

.adf_header {
  margin-bottom: 10px;
}

.adf_header h2 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 500;
  font-size: 30px;
  color: #000;
}

#crypto-list {
  display: block !important;
  width: 100%;
  max-width: 100%;
}

.depCreditTypesBox {
  margin-top: 20px;
  max-width: 470px;
  background: #fff;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

.depCreditTypesBox span {
  margin-right: 30px;
  vertical-align: middle;
}
.depCreditTypesBox span img {
  vertical-align: middle;
}
.depCreditTypesBox span:last-child {
  margin-right: 0px;
}
.depCreditTypesBox p {
  vertical-align: middle;
  padding-top: 0px;
  display: inline-block;
  margin-right: 30px;
}

.addDepositConditionsHead p {
  margin-bottom: 0px !important;
}


.dep-form-head h1, .addDepositConditionsHead  h1 {
  font-size: 20px !important;
}

.dep-form-head h1, .addDepositConditions h1, .paymentResultBox  h1, .addDepositConditionsHead h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 14px;
  font-weight: 500;
  line-height: 30px;
}

.line_fst, .line_sd {
  background-color: #e2e2e2;
  border: 0;
  height: 1px;
}

.addDepositForm select {
  font-size: 16px;
}

h3.section-title {
  margin: 20px 10px;
}
.review-box {
  overflow: hidden;
}
.review-box h3 {
  margin: 35px 10px;
  margin-top: 0px;
}

.personalInfo .box1, .personalInfo .box_sd {
  width: 20%;
}
.personalInfo {
  width: 900px !important;
}
.creditCard, .billingAdress {
  max-width: 470px;	
  @media (max-width: 992px){
    float: none;
    width: 100%;
  }  
}


.title_box {
  text-align: center;
  color: #000;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 20px;
}

.dep-form-head .pf_pm_btn {
  font-size: 19px;
  padding: 4px 9px;
}


.pf_row .pf_pm_btn:first-child {
  margin-right: 10px;
}


.lab label {
  font-family: "Roboto-Regular";
  font-weight: normal;
  display: block;
}

.personalInfo .lab, .creditCard .lab, .pf_row .lab {
  width: 100%;
  float: left;
}
.depFirstSubmitCont {
  padding-top: 20px;
  height: 65px;
}
.personalInfo .field input, 
.creditCard .field input,
.pf_row .field input{
  height: auto;
}

.pf_row select {
  text-transform: none;
  outline: none;
  width: 100%;
  line-height: 25px;

}

.city_zip_box {
  width: 100%;
  overflow: hidden;
}

.city_zip_box .box1{
  float: left;
  width: 70%;
  padding-right: 30px;
  box-sizing: border-box;
}

.city_zip_box .box_sd {
  float: left;
  width: 30%;
}

.boxExp {
  width: 66%;
  float: left;
  padding-right: 10px;
}
#CVV2 {
  height: 43px;
}
#ExpYear {
  margin-top: 17px;
}
.depDepFloatBox {
  width: 33.3%;
  float: left;
  padding-right: 30px;
  box-sizing: border-box;
}
.depDepFloatBoxWrap {
  width: 100%;
}
.depDepFloatBoxWrap .depDepFloatBox:last-child {
  padding-right: 0px;
}
.balancebox {
  width: 60%;
  padding-top: 13px;
}
.balancebox p {
  padding-top: 0px;
  margin-bottom: 0px;
}

.currrency_amount-box .box1 .lab, .currrency_amount-box .box_sd .lab {
  padding-top: 0px !important;
}
.fundsBox {
  float: left;
  padding-right: 30px;
}

.fundsP {
  max-width: 470px;
}




@-moz-document url-prefix() {
  .address-box {
      padding-right: 0px !important;
  }

  .btn {
      padding-right: 30px !important;
  }
}

.address-box {
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
}



.btn {
  width: 200px;
  padding-right: 10px;
}

#Currency {
  margin-bottom: 0px;
  width: 100%;
}

#paypal_currency {
  margin-bottom: 0px;
  width: 100%;
}

.addDepositConditions {
  display: none;
}


.BillingAddressBox, .PersonalInformationBox, .CreditCardDetailsBox {
  float: left;
  width: 33.3%;
}

.BillingAddressBox div, .PersonalInformationBox div, .CreditCardDetailsBox div {
  padding-left: 10px;
  padding-bottom: 10px;
  font-size: 16px;
}
.review-box h2 {
  padding: 20px;
  background: #fff;
  margin-right: 30px;
  box-sizing: border-box;
  margin-bottom: 30px;
}
.review-box h2:last-child {
  margin-right: 30px;
} 
.depReviewTxt {
  font: 500 14px/21px 'Heebo', sans-serif;
  color: #0e1b3f;
}
.review-box h3 {
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
}
.depReviewName {
  width: 125px;
  color: rgba(14, 27, 63, 0.7);
  font: 500 14px/21px 'Heebo', sans-serif;
}
.check-box {
  clear: both;
  padding-top: 40px;
}

.cond_btn button {
  max-width: 365px;
}

.editDataDeposit {
  float: left;
}

input#termsConditionsAgree{
  -webkit-appearance: checkbox !important;
  margin-right: 5px;
}

button[type="button"], button[type="submit"] {
  outline: none;
}

.currency_btn:hover {
  background-color: #2979ff !important;
  color: #fff !important;
}


#termsConditionsAgree {
  vertical-align: middle;
}

.currency_btn {
  width: 82px;
  border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
  -moz-border-radius: 5px 0px 0px 5px;
  padding: 15px !important;
  border: 1px solid #2979ff;
  font-size: 14px;
}
.usdbtn {
  float: left;
  margin-right: 0px !important;
}

.eurbtn {
  border-radius: 0px 5px 5px 0px;
  -webkit-border-radius: 0px 5px 5px 0px;
  -moz-border-radius: 0px 5px 5px 0px;
}

.bankwirebox {
  display: none;
  padding-top: 20px;
  padding-left: 10px;
}
.bankwirebox a, .cryptobox a {
  font-family: "Roboto-Light";
  font-size: 16px;
  line-height: 24px;
  color: #1f87e6;
}
@media(max-width: 768px){
  .cryptobox p {
    padding-bottom: 20px;
  }
}

.error-box {
  display: none;
  font-family: Hind, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #fd0030;
  padding-top: 5px;
  padding-left: 15px;
}

button.btn_method {
  background-color: #ecf3ff;
  background-repeat: no-repeat;
  padding: 60px 0px 5px 0px !important;
  background-position: 50% 30%;
  width: 156px;
  font-size: 16px !important;

}

button.bw_btn {
  border: 2px solid #ecf3ff;
  background-image: url('../img/bw_btn_bg.png');
  color: #000;
}


button.cc_btn {
  border: 2px solid #2979ff;
  background-image: url('../img/cc_btn_bg.png');
  color: #2979ff;
}

button.bw_btn:hover {
  background-image: url('../img/bw_btn_bg_hv.png') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 30% !important;
}

button.cc_btn:hover {
  background-image: url('../img/cc_btn_bg.png') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 30% !important;
}

button.bw_btn:hover, button.cc_btn:hover {
  border: 2px solid #2979ff !important;
  background-color: #ecf3ff !important;
  color: #2979ff !important;
}

/*after click add class*/
.bw_btn_click {
  border: 2px solid #2979ff  !important;
  background-color: #ecf3ff !important;
  color: #2979ff !important;
  background-image: url('../img/bw_btn_bg_hv.png') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 30% !important;
}

.bw_btn_selected {
  border: 2px solid #ecf3ff !important;
  color: #000 !important;
  background-image: url('../img/cc_btn_bg_hv.png') !important;
  background-repeat: no-repeat !important;
  background-position: 50% 30% !important;

}

.cc_btn_selected {
  border: 2px solid #ecf3ff !important;
  background-image: url('../img/bw_btn_bg.png') !important;
  color: #000 !important;
}

.cc_btn_click {
  border: 2px solid #2979ff !important;
  background-image: url('../img/cc_btn_bg.png') !important;
  color: #2979ff !important;
}


.paymentResultBox {
  display: none;
}

.paymentResultBox p {
  font-size: 18px;
  color: green;
}

/*checkbox style*/


.chcustom label:hover, .chcustom_terms label:hover {cursor: pointer;}
.chcustom input, .chcustom_terms input {
  display: none;
}
.n_checkbox{
  margin-top: 15px;
  background: url(../img/checkbox.png) no-repeat scroll 50% 100% rgba(0, 0, 0, 0);
  display: block;
  height: 26px;
  position: absolute;
  text-align: center;
  width: 25px;
}
.depDepSaveAddressChkBox p, .depDepTermsChkBox p {
  display: inline-block;
  padding-top: 0px;
}
.depDepSaveAddressChkBox  .dep--switch, .depDepTermsChkBox .dep--switch {
  width: 40px;
  height: 17px;
  margin-right: 20px;
}
.depDepSaveAddressChkBox  .dep--slider:before, .depDepSaveAddressChkBox  input:checked + .dep--slider:before,
.depDepTermsChkBox  .dep--slider:before, .depDepTermsChkBox  input:checked + .dep--slider:before 
 {
  right: 27px;
  width: 15px;
  height: 15px;
}
.chcustom div, .chcustom_terms div {
  width: 100%;
}
.check .n_checkbox {
  background: url(../img/checkbox.png) no-repeat scroll 50% 3% rgba(0, 0, 0, 0);
}


.chcustom_terms a {
  color: #2979ff;
  text-decoration: underline;
}

.chcustom_terms a:hover {
  color: #2979ff;
  text-decoration: none;
}

.adddepcont {
  padding-top: 20px;
}
.review_btn_container {
  padding: 25px 0;
}
.review_btn_container a {
  display: block;
}
.review_btn_container  .dep--btn--blue {
  width: 200px;
  text-align: center;
}
.editdataDep {
  margin-right: 30px;
}
.editdataDep a {
  -moz-box-shadow: 0 10px 30px 0 rgba(146, 150, 156, 0.3);
  box-shadow: 0 10px 30px 0 rgba(146, 150, 156, 0.3);
  -webkit-box-shadow: 0 10px 30px 0 rgba(146, 150, 156, 0.3);
  background: #92969c;
  border: 2px solid #92969c;
}
.editdataDep a:hover {
  background: #797c82;
  border: 2px solid #797c82;
}
.cond_btn {
  float: left;
}

button.editdataDep {
  background: #92969c !important;
}

button.editdataDep:hover {
  background: #6e7073 !important;
} 



.fund_cur_box {
  padding-left: 0px !important;
}
.fund_cur_box .funds {
  margin-right: 5px;
  padding-left: 0px;
}
.depReviewRow {
  clear: both;
  overflow: hidden;
}
.adf_head_icons .fa {
  display: block;
  margin-bottom: 9px;
}
 
span.adf_head_icons {
  background: #ecf3ff;
  display: block;
  border: 2px solid #ecf3ff;
  color: #000;
 -webkit-border: 2px solid #2979ff;
 -moz-border: 2px solid #2979ff;
  width: 30%;
  font-size: 16px;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
  font-family: Tahoma, Arial;
  float: left;
  box-sizing: border-box;
  @media(max-width: 1240px){
    font-size: 12px;
  }	
}

.fa-3x {
  font-size: 40px !important;
}


span.adf_head_icons:hover {
  color: #4875b5 !important;
  border: 2px solid #4875b5 !important;
  cursor: pointer;
}

span.adf_head_icons {
  margin-right: 5%;
}
span.adf_head_icons:last-child {
  margin-right: 0;
} 
.adf_head_iconsTxt {
  font-family: 'Heebo', sans-serif;
  padding-top: 13px;
  padding-left: 7px;
}
.adf_head_iconsTxt, .adf_head_icons i {
  float: left;
  margin-top: -7px;
}
.cc_bw_btns_container {
  margin-top: 40px;
  max-width: 730px;
}

span.adf_icon_selected {	
  color: #4875b5 !important;
  border: 2px solid #4875b5 !important;
}

.clear:before,
.clear:after {
  content: " ";
  display: table;
}

.clear:after {
  clear: both;
}

#Currency:disabled{
  border: 0px !important;  
  padding: 5px 0px 0px 0px !important;
  background: #fff !important;
}

#Currency:disabled{
  -webkit-appearance: none !important;
  color:#000;
}


#paypal_currency:disabled{
  border: 0px !important;  
  padding: 5px 0px 0px 0px !important;
  background: #fff !important;
}

#paypal_currency:disabled{
  -webkit-appearance: none !important;
  color:#000;
}

@-moz-document url-prefix() {
  #Currency:disabled{
  padding: 17px 0px 0px 0px !important;
  -moz-appearance: none !important; 
  }
}


@media (max-width: 992px){

  .addDepositConditionsHead {
      width: 100% !important;
  }

  .dep-form-head {
      width: 100% !important;
  }






  .address-box {
      max-width: 500px;
  }
  .sb-btn {
      max-width: 100%;
  }

  .personalInfo .lab, .creditCard .lab, .pf_row .lab {
      width: 100%;
  }
  .lab {
      padding-bottom: 10px;
  }
  .personalInfo .field, .creditCard .field, .pf_row .field  {
      width: 100% !important;
  }
  .personalInfo .field input, .creditCard .field input, .pf_row .field input  {
      width: 	100% !important;
  }
  .personalInfo, .creditCard {
      max-width: 100%;
  }

  .personalInfo {
      margin-left: 0% !important;
      width: 100% !important;

  } 

  .address-box {
      max-width: 100%;
      padding-right: 0px;
  }

  .pf_row select {
      width: 100%;
  }

  .btn {
      max-width: 100% !important;
      padding-right: 10px;
  }

  .error-box {
      width: 100%;
  }

  .cond_btn {
      margin-bottom: 20px;
  }

  .currency_btn {
      padding: 15px !important;
  }


  @-moz-document url-prefix() {
  .address-box {
      padding-right: 0px !important;
      padding-left: 0px !important;
  }

  .btn {
      padding-right: 0px !important;
  }

  .creditCard {
      padding-right: 0px !important;

  }
}


}


@media screen and (min-width: 993px) and (max-width: 1233px) {
  .creditCard {
    margin-left: 0px;
  }

  .dep-form-head {
      width: 100% !important;
  }
}


@media screen and (max-width: 736px) and (orientation: portrait) {

  .cc_bw_btns_container {
      width: 266px;
  }
  span.adf_head_icons {
      margin-right: 0px !important;
      margin-bottom: 10px;
  }
  span.adf_head_icons:last-child {
      margin-bottom: 0px;
  }
  span.adf_head_icons {
      width: 100%;
  }

  .BillingAddressBox, .PersonalInformationBox, .CreditCardDetailsBox {
      width: 100% !important;
      padding-left: 0px !important;
  }

      .chcustom_terms br {
      display: none;
  }
      p.fundsP br {
      display: none;
      }

      .review-box h3 {
      margin-top: 40px;
      }
      .review-box .BillingAddressBox h3 {
      margin-top: 0px;	
      }

} 


@media screen and (min-width: 768px) and (max-width: 992px )and (orientation: portrait) {
  p.aboutStoreInfo {
      float: left;
  }
}

@media screen and (max-width: 736px) and (orientation: landscape){

  p.aboutStoreInfo {
      float: left;
  }

}

@-moz-document url-prefix() { 
  button.editdataDep {
   height: 51px !important;
  }

.btn {
   padding-right: 10px !important;
}

}

/*adf_popup style*/

@import "partials/_adf_popup_style.scss";

/*css for third page*/

@import "partials/_third_page.scss";
@import "partials/_submit_dep_style.scss";

/*terms popup*/
//@import "partials/_terms_popup_style.scss";

/* info Box */
@import "partials/_info_box.scss";

.addDepositForm .field .adf_valid  {
  background: url(../img/verify.png) no-repeat 97% center;
  border: 1px solid #1283fd;
}

.addDepositForm .field .adf_error {
  background: url(../img/error.png) no-repeat 97% center;
  border: 1px solid #fd0030;
}
.field__label {
  visibility: hidden;
}


.credit_card_icon{
width: 64px;
height: 40px;
position: absolute;
right: 6px;
top: 6px;
border-radius: 5px;
}
.visa_icon {
background-image: url('../img/Visa.png');
}
.mastercard_icon {
background-image: url('../img/MasterCard.png');
}
.JSB_icon {
background-image: url('../img/JCB.png');
}

.sb-submit_error{display: none;}
.sb-submit_error_show{display: block;}
.depAuthErrorPopupBtn {
  position: relative;
  height: 100px;
}
.depDepErrorPopup, .depAuthErrorPopup, .depDepSuccPopup {
  left: 0;
}
.depDepSuccPopup .d_linksWrap .dep--btn--blue {
  margin-right: 0;
}
.depDepErrorPopup i, .depAuthErrorPopup i {
  width: 60px;
  height: 60px;
  font-size: 32px !important;
  padding-top: 12px;
  border: 2px solid red;
  border-radius: 50px;
  box-sizing: border-box;
  font-weight: bold;
}
.depDepErrorPopup h2, .depAuthErrorPopup h2 {
  padding-top: 30px !important;
  text-align: center;
  color: red;
}
.depDepErrorPopup p, .depAuthErrorPopup p {
  text-align: center;
}

.depDepErrorPopup, .depAuthErrorPopup {
  display: none;
}
.depDepErrorPopupEdit {
  margin-top: 30px;
}
.depDepErrorPopup p.depDepErrorPopupHelp, .depAuthErrorPopup p.depDepErrorPopupHelp{
  font-family: "Roboto-LightItalic";
}

.depDepErrorPopup p.depDepErrorPopupHelp a{
  line-height: 24px;
  color: rgba(30, 136, 229, 0.7);
}

.dep_inf_bx_win img {
  width: 100%;
}
.depDepTable {
  display: table;
  width: 100%;
}
.depNotActiveBtn {
  pointer-events: none;
  cursor: default !important;
}
.depDepPreloader {
    left: 0;
    margin-left: 0;
    margin-top: -27px;
}
.depReviwBoxDepositBtn {
  position: relative;
}

.aboutStoreInfo, .depCreditTypesBox p {
  font-style: italic;
}
#primary {
  position: relative;
}

.depReviewBoxWide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  float: none;
}
.depReviewBoxCenter {
  margin-top: 45px;
  max-width: 1000px;
  margin: 0 auto;
  width: auto;
  float: none;
}
.depCardNumPos {
  position: relative;
}

.depCardNumPos .credit_card_icon {
  height: 30px;
  top: 18px;
}
.dep--icon--crypto {
  display: block;
  width: 40px;
  height: 40px;
  background: url(../img/crypto_icon.png);
  background-size: 31px;
  background-repeat: no-repeat;
  background-position: 0% 90%;
}

/*new deposit TYPES style*/
.cc-types-bx {
  max-width: 590px;
  padding: 15px;
  background-color: #edf4ff;
  border: 1px solid #bcd4fa;
  border-radius: 5px;
}
  
.payMethodcontainer {
    display: block;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font: 500 18px/24px "Raleway", sans-serif;
    color: #000;
}

/* Hide the browser's default radio button */
.payMethodcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.eu-user-block #adf_cc_btn {
  margin-bottom: 0;
}

ul.cc-types-list {
  list-style-type: none;
}
ul.cc-types-list > li {
  max-width: 238px;
  display: inline-block;
  vertical-align: top;
  margin-right: 56px;
}
ul.cc-types-list > li:last-child {
  margin-right: 0;
}
.payMethodcontainer {
  font-size: 16px !important;
}
.txt-sml {
  font-size: 12px;
  display: block;
}

.meth-oth-types {
  margin-top: 30px;
  padding-left: 15px;
}

.meth-oth-types .cc-types-list > li {
  display: inline-block;
  vertical-align: middle;
}

.adf_head_iconsTxt > span, .adf_head_iconsTxt i {
  display: inline-block;
  vertical-align: middle;
}
.adf_head_iconsTxt {
  padding: 0;
}
.meth-oth-types  ul.cc-types-list > li {
  margin-right: 118px;
  margin-bottom: 25px;
}
.meth-oth-types  ul.cc-types-list > li:last-child {
  margin-right: 0;
}
#bw-ic {
  position: relative;
  top: -2px;
}
.mth-btn-ttl {
  padding-right: 5px;
}
#cc-cont {
  margin-top: 0;
  margin-bottom: 15px;
}
.int-u-block .cc-types-list li:first-child {
  margin-right: 71px;
}
.int-u-block .cc-types-list li {
  margin-bottom: 25px;
}

@media (max-width: 992px){
  #cc-cont {
    margin-bottom: 0px;
  }
  .meth-oth-types ul.cc-types-list > li {
    margin-bottom: 20px;
  }
}

/*succ popup style*/

.depDepSuccPopup i {
  border: 2px solid green;
}
.depDepSuccPopup h2 {
  color: green;
}
.depDepSuccPopup .d_success {
  margin-top: 0;
  margin-bottom: 0;
}
.depDepSuccPopup .depPopup {
  padding: 0;
}


/*new deposit TYPES style*/ 

.cc-types-list .dep--checked .checkmark {
  background-color: #2196f3;
  background-image: url(../img/dep-check-mark.png);
  background-repeat: no-repeat;
  background-position: center center;
}
//payment method radio buttons
@import "partials/_pay_method.scss";

.deposit-bx #paypal_currency {
    margin-left: 20px;
    min-width: 90px;
    max-width: 90px;
}

#paypal_currency {
    margin-bottom: 0px;
    width: 100%;
}