/*Popup*/
.adf_modal_form {
  width: 420px; 
  height: auto; 
  border-radius: 5px;
  background: #fff;
  position: fixed; 
  top: 45%; 
  left: 50%; 
  margin-top: -210px;
  margin-left: -210px;

  display: none; 
  opacity: 0; 
  z-index: 30; 
  padding: 10px 10px;
  font-family: Tahoma, Arial;	
  box-shadow:     0px 30px 50px 5px  rgba(0, 0, 0, 0.24);
}
@-moz-document url-prefix() { 
  .adf_modal_form {
     padding: 10px 10px;
  }
}

.fa_times_box {
	padding-top: 7px;
    display: block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.fa_times_box .fa-5x {
	font-size: 100px;
}

.fa_times_box i {
	color: #ff2929;
}

/* overlay popup*/
.adf_overlay {
	z-index:20; 
	position:fixed; 
	background-color: #d9d9d9; 
	opacity:0.8; 
	-moz-opacity:0.8; 
	filter:alpha(opacity=80);
	width:100%; 
	height:100%; 
	top:0; 
	left:0;
	cursor:pointer;
	display:none; 
}

.adf_overlay:hover {
	cursor: default !important;
}

/*button popup*/
.adf_modal_form button {
	color: #fff;
    border-radius: 5px;
    border: none;
    font-weight: 500;
    padding: 14px;
    width: 200px;
    background-color: #2979ff;
    font-family: Tahoma, Arial;
    text-transform: uppercase;
    font-size: 16px;	
}

/*content popup*/
.adf_modal_form button:hover{
	cursor: pointer;
    background: #81affb;
}

.adf_modal_form .modal_text {
	text-align: center;
	font-size: 14px;
	color: #000;
}
.adf_modal_form p.title {
	font-size: 20px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 20px;
	line-height: 25px;
	text-transform: uppercase;
	color: #000;
    font-weight: 500;

}

.adf_modal_form .log_pass span {
	font-weight: bold;
} 


.adf_popup .popup_btn_box {
	width: 100%;
    text-align: center;
    margin-top: 40px;
}


.adf_popup_contact {
	text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin: 30px 0px;
    color: #000;

}


.adf_popup_contact a {
	color: #2979ff;
    text-decoration: underline;
}

.adf_popup_contact a:hover {
	color: #2979ff;
    text-decoration: none;
}

@media (max-width: 992px) {
	.adf_modal_form {
		width: 350px;
		margin-top: -175px;
   		margin-left: -175px;
	}

	.adf_modal_form p.title {
		margin-top: 10px;
		font-size: 16px;
	}
	.adf_popup_contact {
		font-size: 16px;
		padding-bottom: 10px;
		margin-top: 20px;
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 20px;
	} 
}

@media screen and (max-width: 736px) and (orientation: landscape) {
		.adf_modal_form {
			top: 48% !important;
		}
		.fa_times_box .fa-5x {
			font-size: 40px;
		}

		.adf_popup_contact {
			margin-top: 10px !important;
		}
}
