/*info box deposit form style*/
.lab label {
	display: inline-block !important;
}
.dep_inf_bx {
	display: inline-block;
	margin-left: 10px;
	width: 16px;
    height: 16px;
}

.dep_inf_bx_btn {
	display: block;
    text-align: center;
    background: #2979ff;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    color: #fff;
    cursor: pointer;
    width: 16px;
    height: 16px;
    font-size: 14px;
    line-height: 17px;
}

.dep_inf_bx_btn:hover {
	background-color: rgba(41, 121, 255, 0.8);
}

.dep_inf_bx_win {
	display: none;
    position: absolute;
   	bottom: 35px;
    left: -135px;
    padding: 15px;
    width: 280px;
    max-width: 400px;
    background: #fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.22);
    -moz-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.22);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.22);
}

.dep_inf_bx_win p {
	margin: 0;
	font-style: normal;
}

.dep_inf_bx_wrap {
	position: relative;
    bottom: 2px;
    font-family: "Roboto-Regular";
}
/*info box deposit form style*/
