/*New Payment Method*/
.pm-container {
	max-width: 290px;
	@media(max-width: 600px){margin: 0 auto;}
}
.pm-dw-box {margin-bottom: 20px;}
.pm-wrap {
	position: relative;
	padding: 1px;
	background: rgb(183, 184, 195);
	border-radius: 7px;
	box-shadow: 0px 5px 35.72px 2.28px rgba(0, 123, 255, 0.11);
	box-sizing: border-box;
	cursor: pointer;
}
.pm-btn {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 30px;
	background: white;
	border-radius: 7px;
}
.pm-btn-active {
	background: linear-gradient(to right, #00b2ff, #007fff);
}
.pm-btn-active .pm-btn {
	background-image: url(../img/verify.png);
	background-repeat: no-repeat;
	background-position: 98% 88%;
}
.pm-subgroup {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}
.pm-subgroup .pm-btn {
	width: 125px;
	height: 67px;
	box-sizing: border-box;
	padding-left: 25px;
    padding-right: 25px;
    justify-content: center;
}
.pm-dw {
	display: block;
	padding: 30px;
	background: white;
	border-radius: 7px;
	box-shadow: 0px 5px 35.72px 2.28px rgba(0, 123, 255, 0.11);
}
.pw-dw__item {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}
.pw-dw__item:first-child {
	margin-bottom: 20px;
}
.pw-dw__item-radio {
	position: relative;
	margin-right: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 15px;
	height: 15px;
	padding: 1px;
	box-sizing: border-box;
	border-radius: 50%;
	background: linear-gradient(to right, #00b2ff, #007fff);
}
.pw-dw__item-text {font-size: 16px;}
.pw-dw__item-text span {
	font-size: 14px;
	font-weight: 300;
}
.pw-dw__item-radio-active:after {
	position: absolute;
	border-radius: 50%;
	display: block;
	content: "";
	width: 7px;
	height: 7px;
	background: linear-gradient(to right, #00b2ff, #007fff);
	box-sizing: border-box;
}
.pw-dw__item-radio-2 {
	width: 13px;
	height: 13px;
	border-radius: 50%;
	box-sizing: border-box;
	background: white;
}
