.cond_btn {
	text-align: center;
}


#adf_submit_dep_btn {
  height: 51px;
  outline:none;
  text-align: center;
  max-width: 365px;
  width: 100%;
  border-radius:5px;
  background: #2979ff;
  border: 2px solid #2979ff;
  color: #fff;
  text-shadow:0;
  font-size: 16px;
  padding: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s ease;

  &:hover {
   color:white;
   background: #81affb;
   border: 2px solid #81affb;

  }

//  &:after {
//    content:"DEPOSIT";
//  }
}
.adf_onclic {
  width: 40px !important;
  height: 40px !important;
  border-color: #ccc !important;
  border-width:3px !important;
  border-radius: 20px !important;
  font-size:0 !important;
  border-left-color: #2979ff !important;
  border-style: solid !important;
  background: #fff !important;
  animation: rotating 2s 0.25s linear infinite !important;

  &:after {
    content:"" !important;
  }
  
  
  &:hover {
  	color: rgba(41, 121, 255, 0) !important;
    background-color: #fff !important;

  }
}


.adf_validate {
  font-size:13px !important;
  color: white !important;
  background: green !important;
  border: 2px solid green !important;
  &:after {
  font-family:'FontAwesome' !important;
  content:"\f00c" !important;
  }
  &:hover {
  background: green !important;
  border: 2px solid green !important;
  }
}

.adf_validate_error {
  font-size:13px !important;
  color: white !important;
  background: red !important;
  border: 2px solid red !important;
  &:after {
  font-family:'FontAwesome' !important;
  content:"\f00d" !important;
  }
  &:hover {
  background: red !important;
  border: 2px solid red !important;
  }
}


@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
