/*Popup terms and conditions popup*/
.adf_terms_popup{
  display: block !important;
  width: 600px !important;
  margin-left: -310px !important;
  z-index: -1;
}

.adf_terms_popup_text {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  margin-bottom: 0;
}

.adf_terms_popup_text p {
  text-align: left;
  padding-right: 15px;
}

.adf_terms_popup_btn_cont {
  text-align: center;
}

.adf_terms_popup_cancel {
  background: #92969c !important;
}

.adf_terms_popup_cancel:hover {
  background: #6e7073 !important;
}

.adf_terms_popup_show_hide {
  visibility: visible !important;
  z-index: 9999;
}
.adf_modal_terms_popup_error {
  height: 20px;
  text-align: center;
}
.adf_modal_terms_popup_error p {
  display: none;
  color: red;
  margin: 0;
}

.adf_terms_popup_agree {
  background-color: #2979ff;
}
.adf_terms_popup .adf_terms_popup_btn_cont .adf_terms_popup_agree:hover {
  background-color: #2979ff !important;
}
.adf_terms_popup_agree:focus {
  background-color: #689ef9 !important;;
}
.adf_terms_popup_agree_disbled{
  background: #689ef9 !important;
}
.adf_terms_popup_agree:focus .adf_terms_popup_agree_disbled{
 background-color: #2979ff !important;
}

.adf_terms_popup .check-box {
    padding-top: 0px;
}
.adf_terms_popup .chcustom, .chcustom_terms {
    top: 0px;
    padding-top: 20px;
}

.review_btn_container {
    overflow: hidden;
    clear: both;
    padding-top: 40px;
}

.adf_terms_popup button {
  cursor: pointer;
}

.pf_row select {
    appearance: none !important;
    -moz-appearance: none !important;  
    -webkit-appearance: none !important; 
    line-height: 18px !important;
    padding: 16px !important;
    background: url(../img/selectArrow.png) no-repeat 97% 18px !important;
}

@-moz-document url-prefix() { 
  .pf_row select {
     padding: 15px !important;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=number] {
  -moz-appearance: textfield;
}


@media (max-width: 762px){
  .adf_terms_popup {
    width: 300px !important;
    margin-left: -150px !important;
    box-sizing: border-box;
    display: block !important;
    margin-top: -230px;
  }
  .adf_terms_popup_text {
    height: 280px;
  }
  .adf_terms_popup_btn_cont button {
    width: 125px !important;
  }
  .adf_terms_popup_text p {
    font-size: 12px;
  }
  .adf_modal_form p.title {
    font-size: 14px;
  }
  .adf_modal_form button {
    font-size: 14px;
  }
  .chcustom_terms label {
  font-size: 14px;
  }
  .adf_terms_popup_btn_cont {
    z-index: 9999;
  }
}
@media (max-width: 762px) and(orientation: portrait){
  .dep_inf_bx_win {
    left: 0 !important;
    margin-left: -240px;
  }
  .cardHolderNameWindow{
    margin-left: -108px;
  }
}

@media (max-width: 762px) and (orientation: landscape) {
  .adf_terms_popup {
    position: relative;
    margin-top: -140px !important;
  }
  .adf_terms_popup_text {
    height: 150px;
  }
}
/*Popup terms and conditions popup*/