.d_center_container{
  text-align: center;
}
.d_h1 {
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 30px;
}
.d_h2 {
  font-size:20px;
  text-transform: uppercase;
  font-weight: normal;
 
}
.d_success{
  max-width: 400px;
  margin:0 auto;
  border:1px solid #38c435; 
  border-radius: 5px;
  padding:30px;
  text-align: center;
  margin-bottom:60px;
  margin-top:50px;
}
.d_sm{
  color:#38c435;
  font-size:20px;
  line-height: 30px;
  text-transform: uppercase;
  margin-bottom:20px;
}
.d_sm i{
  font-size:80px;
  margin-bottom:20px;
}
.d_sm2{
  font-size:14px;
  line-height: 24px;
}

.d_links{
  text-align: center;
}
.d_links .d_center_container{
   margin-bottom:30px;
}

.d_link{
  background: #2979ff;
  text-transform: uppercase;
  display: inline-block;
  padding:17px 27px;
  border-radius: 5px;
  text-decoration: none;
  color:#fff;
  margin:0 15px;
  margin-bottom:10px;
}
.d_transaction_id{font-weight: bold;}